{% extends 'base.html' %}

{% block title %}
Об авторе
{% endblock %}


{% block main_content %}
    <div id="big_div" class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-dark">
        <div>
                    <h2 id="author_bigger_text" class="display-5" style="
                    font-size: xxx-large;" >Об авторе:</h2>
                    <p id="author_text" class="lead">Разработал: Хмелев Е.В.
                        Студент группы ТИП-41</p>
                </div>
        <div style="width: 80%; margin-left: 10%;">
        <img src="static/img/cat.png" alt="Автор" style="width: 100%">
        </div>
    </div>
{% endblock %}
